environment: live

location: "East US"
resources:
  resource_group:
    enabled: true
    

  storage_account:
    enabled: false
    

  key_vault:
    enabled: false
<<<<<<< HEAD
    
 
=======
<<<<<<<< HEAD:environments/live/config.yml
   
 
========
    
  
>>>>>>>> 0aa2f2c (my updated file):environments/lab/config.yml
>>>>>>> 0aa2f2c (my updated file)
